@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(185, 158, 161);
  font-family: "Roboto", sans-serif;
}

/* header */
header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: background-color 300ms ease-in-out;
}

/* header-logo */
.header__logo {
  display: flex;
  align-items: center;
  width: 26%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__logo i {
  font-size: 25px;
  margin-right: 5px;
}
.header__nav {
  width: 48%;
}
.header__btn {
  width: 26%;
}

/* header-navigation */
.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
}

.header__nav ul li {
  margin: 0 20px;
}

.header__nav ul li i {
  margin-left: 5px;
}

/* header-buttons */
.header__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__btn a {
  text-transform: uppercase;
  font-size: 14px;
}

.header__btn a:first-child {
  font-weight: 500;
  margin-right: 30px;
}

.header__btn a:last-child {
  padding: 15px 20px;
  background-color: #fff;
  color: black;
  transition: opacity 200ms ease-in-out;
}

.header__btn a:last-child:hover {
  opacity: 0.7;
}

header.scrolled {
  background-color: black;
}

/* section-home */
section.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  /* position: absolute;
  top: 0; */
  z-index: -1;
  padding: 0 0 0 50px;
  width: 100%;
}

/* home__description */
.home__description {
  display: flex;
  flex-direction: column;
  color: white;
  width: 45%;
  margin-right: 15px;
}

.home__description h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-large {
  font-size: 58px;
  margin-bottom: 15px;
  letter-spacing: 1.2px;
  width: 430px;
  /* background-color: cornflowerblue; */
}

.home__description p {
  width: 360px;
  margin-bottom: 15px;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 23px;
}

.start-btn {
  padding: 15px 20px;
  background-color: #fff;
  color: black;
  transition: opacity 200ms ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  width: max-content;
}

.start-btn:hover {
  opacity: 0.7;
}

/* home__images */
.home__images {
  width: 55%;
  flex-shrink: 2;
}
.home__images .home__images__dots span {
  background-color: rgb(243, 243, 243);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.home__images img {
  opacity: 0.7;
  width: 80%;
  max-width: 800px;
}

/* turn-your-idea */
section.turn-your-idea {
  background-color: #fff;
  /* height: 80vh; */
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
}

section.turn-your-idea .title-large {
  margin-bottom: 100px;
}

.turn-your-idea__content {
  display: flex;
}

.turn-your-idea__content div:first-child {
  margin-right: 100px;
  flex-grow: 1;
}

.turn-your-idea__content img {
  width: 100%;
  max-width: 700px;
}

.turn-your-idea__content .content__desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.turn-your-idea__content .content__desc li {
  margin-bottom: 40px;
}

.turn-your-idea__content .content__desc li h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 14px;
}

.turn-your-idea__content .content__desc li p {
  font-size: 15px;
  line-height: 23px;
  width: 80%;
  max-width: 550px;
}

.content__desc a {
  width: max-content;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 2px solid #000;
}
